.row {
  padding: 20px;
  background-color: rgb(186, 165, 213);

}

div{
 
  margin-top: 5px;
  padding: 10px;
}


h5, h6  {

  display: inline;
}


.descripcion1, .descripcion2 {
  text-align: justify;
  display: inline-block;
}



.container {
  width: auto;
  }

  
