.gradient-custom {
  /* fallback for old browsers */
  background: rgb(186, 165, 213);
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(186, 165, 213), rgb(93, 132, 200));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(186, 165, 213, 0.75), rgba(93, 132, 200, 0.75))
  }