<div class="row">
  <h2>Educacion</h2>

    <div class="col-lg-11">
      <ul>
          <li><h3>Educacion 1</h3> - <h5>(años)</h5></li>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
                elit. Ducimus, unde dignissimos. Esse delectus quibusdam 
                omnis beatae, distinctio minima perspiciatis! Mollitia 
                officiis porro doloribus vero culpa 
                nulla repellat itaque harum deleniti.</p>
      </ul>   

      <ul>   
            <li><h3>Educacion 2</h3> - <h5> (años)</h5>  </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
              elit. Ducimus, unde dignissimos. Esse delectus quibusdam 
              omnis beatae, distinctio minima perspiciatis! Mollitia 
              officiis porro doloribus vero culpa 
              nulla repellat itaque harum deleniti.</p>
         
       </ul>  
     
       <ul> 

           <li><h3>Educacion 3</h3> - <h5>(años)</h5></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
            elit. Ducimus, unde dignissimos. Esse delectus quibusdam 
            omnis beatae, distinctio minima perspiciatis! Mollitia 
            officiis porro doloribus vero culpa 
            nulla repellat itaque harum deleniti.</p>
          
      </ul>

      
    </div>



</div>

