<!-- Agregar los íconos:
  
  [imageSrc]=""  
  [showImage]="true"
  [imageHeight]=""
   [imageWidth]=""
   
          -->

<div class="row">

  <h2>Habilidades</h2>
  

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

      
        <circle-progress
          [percent]="15"
          [showUnits]="false"
          [radius]="50"
          [title]="'HTML'"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'black'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="300"
          [imageSrc]="'../../../assets/HTML.png'"  
          [showImage]="true"
          [imageHeight]="40"
          [imageWidth]="40"

        ></circle-progress>

       
      
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

      <circle-progress
        [percent]="15"
        [showUnits]="false"
        [radius]="50"
        [title]="'CSS'"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="300"
        [imageSrc]="'../../../assets/CSS.png'"  
        [showImage]="true"
        [imageHeight]="40"
        [imageWidth]="40"
      ></circle-progress>


    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

      <circle-progress
        [percent]="10"
        [showUnits]="false"
        [radius]="50"
        [title]="'JavaScript'"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'blue'"
        [animation]="true"
        [animationDuration]="300"

        [imageSrc]="'../../../assets/JS.png'"  
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
       
      ></circle-progress>

      
    </div>


      <div class="text-center col-sm-3 col-md-3 col-lg-3">

        <circle-progress
          [percent]="90"
          [showUnits]="false"
          [radius]="50"
          [title]="'Comunicación'"
          [outerStrokeWidth]="5"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'black'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="300"
          [imageSrc]="'../../../assets/Comunicacion.png'"  
          [showImage]="true"
          [imageHeight]="50"
          [imageWidth]="50"
        ></circle-progress>

      </div>
  
        <div class="text-center col-sm-3 col-md-3 col-lg-3">

          <circle-progress
            [percent]="90"
            [showUnits]="false"
            [radius]="50"
            [title]="'Coaching'"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/Coaching.png'"  
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
          ></circle-progress>
    
    
        </div>
     

        <div class="text-center col-sm-3 col-md-3 col-lg-3">

          <circle-progress
            [percent]="90"
            [showUnits]="false"
            [radius]="50"
            [title]="'Resultados'"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/Orientac_resultados.png'"  
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
          ></circle-progress>
    
    
        </div>

        <div class="text-center col-sm-3 col-md-3 col-lg-3">

          <circle-progress
            [percent]="90"
            [showUnits]="false"
            [radius]="50"
            [title]="'Servicio'"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/Orientac_cliente.png'"  
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
              
            
            

          ></circle-progress>
    
    
        </div>

        <div class="text-center col-sm-12 col-md-12 col-lg-12">

          <circle-progress
            [percent]="60"
            [showUnits]="false"
            [radius]="50"
            [title]="'Inglés'"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../../../assets/English.png'"  
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
          ></circle-progress>
    
    
        </div>
  



</div>

