
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

       <img src="../../../assets/yo.jpeg" alt="mi foto" id="mifoto" 
            class="img-fluid">
    </div>
  

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p id="posicion">Full stack Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h2>Acerca de mí</h2>    
        <p id="acercademi">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          At, consequuntur libero, aliquam dolorem ex, voluptate odio 
          numquam cum in excepturi quae beatae amet voluptatibus voluptatem 
          unde veritatis dignissimos dolores sunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi culpa aliquam error doloremque dolorem. Molestias amet est ipsam. Necessitatibus repellendus architecto officia culpa, distinctio placeat vero cupiditate est nam debitis.</p>
        
      </span>
    </div>
  
  </div>


