
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

       <img src="../../../assets/yo.jpeg" alt="mi foto" id="mifoto" 
            class="img-fluid">
    </div>
  

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p id="posicion">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h2>Acerca de mí</h2>    
        <p id="acercademi">En mi delirio por encontrar una verdad he descubierto el
          coaching, disfruto acompañar a otros en sus procesos de crecimiento y aprendizaje,
          porque en cada encuentro reafirmo la grandeza y la voluntad humana.</p>
        <p id="acercademi" style="font-style: italic">"La vida es una marioneta del tiempo en la medida en que cambia a cada instante, 
          cambia el mundo interior y el exterior, de forma que no somos los mismos dos instantes seguidos" Aldous Huxley</p>
      </span>
    </div>
  
  </div>


